*{
    margin: 0;
    padding: 0;
}

/* ============================== Dashboard Part Starts ======================= */

/* =================< Navbar Starts >============== */
.app-sidebar__user p{
    color: #fff;
}
/* ==================< Navbar Ends >=============== */

/* =================< Body Starts >============== */

/* ==================< Body Ends >=============== */

/* ============================== Dashboard Part Ends ========================= */